
@media (min-width:651px) and (max-width:10000px){
  .featuresdivmain{
    background: linear-gradient(
        to bottom,
       rgb(144,187,197) 8%,
        white 40%,                                                                 
        white 67%,
        white 44%
    );

    height: 90%;
    
    }
  .boardtext{
    display: none;
  }
  .boardlaptop{
    background: rgb(144 187 197);
   width: 100%;
   height: 500px;
display: flex;
justify-content: center;
display: flex;
flex-wrap: nowrap;
  }
  .boardlaptop1{
    position: relative;
    width: 50%;
    height: 100px;
  }
  .anim6{
    /* height: 50%; */
    margin-top: 44px;
    transform: scaleX(-1);
  }
  .boardlaptop2{
    margin-top: 107px;
    width: 50%;
    height: 100%;
  }
  .text{
    color: rgb(0, 0, 0);
  }
  .perspective-text{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    position: absolute;
    color: rgb(0, 0, 0);
    z-index: 6;
    font-family: Arial;
    font-size: 50px;
    font-weight: 900;
    top: 80px;
    right: 23%;
    letter-spacing: -2px;
    text-transform: uppercase;
  }
  p.LJETOLEARN {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    margin: 0px;
    height: 50px;
    line-height: 48px;
    transition: all 0.5s ease-in-out;
  }
  .perspective-line {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    height: 50px;
    overflow: hidden;
  
  }
  .perspective-line:nth-child(odd) {
    transform: skew(335deg, 182deg) scaleY(0.767);
  }
  .perspective-line:nth-child(even) {
    transform: skew(0deg, 2deg) scaleY(1.73);
  }
  .perspective-line {
    position: relative;
  }
  
  .perspective-line:nth-child(1) {
    left: 29px;
  }
  .perspective-line:nth-child(2) {
    left: 58px;
  }
  .perspective-line:nth-child(3) {
    left: 87px;
  }
  .perspective-line:nth-child(4) {
    left: 116px;
  }
  .perspective-line:nth-child(5) {
    left: 145px;
  }
  .perspective-text:hover p{
    transform: translate(0, -50px);
    color: rgb(8, 8, 8) ;
  } 

/* from here this is css for text2  */

.perspective-text2 {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  position: absolute;
  color: rgb(0, 0, 0);
  z-index: 6;
  font-family: Arial;
  font-size: 12px;
  font-weight: 900;
  top: 300px;
  right: 36%;
  letter-spacing: -2px;
  text-transform: uppercase;
}
.p2 {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  margin: 0px;
  height: 28px;
  line-height: 25px;
  transition: all 0.5s ease-in-out;
}
.perspective-line2 {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  /* height: 50px; */
  height: 28px;
  overflow: hidden;

}
.perspective-line2:nth-child(odd) {
  transform: skew(335deg, 182deg) scaleY(0.767);
}
.perspective-line2:nth-child(even) {
  transform: skew(0deg, 2deg) scaleY(1.73);
}
.perspective-line2 {
  position: relative;
}

.perspective-line2:nth-child(1) {
  left: 29px;
}
.perspective-line2:nth-child(2) {
  left: 58px;
}
.perspective-line2:nth-child(3) {
  left: 87px;
}
.perspective-line2:nth-child(4) {
  left: 116px;
}
.perspective-line2:nth-child(5) {
  left: 145px;
}
.perspective-line2:nth-child(6) {
  left: 185px;
}
.perspective-text2:hover h1{
  transform: translate(0, -28px);
} 

  .envelope{
    width: 45px;
    height: 82px;
    display: none;
  }
  .briefcase{
    position: absolute;
    top: 40%;
    right: 20px;
    width: 45px;
    height: 82px;
    animation: linear infinite;
    animation-name: run2;
    animation-duration: 3.5s;
    transform: rotate(45deg);
    display: none;
  }
  .flask{
    position: absolute;
    top: 6%;
    right: 86%;
    width: 45px;
    height: 82px;
    animation: ease-in infinite;
    animation-name: run4;
    animation-duration: 3.5s;
    transform: rotate(-45deg);
    display: none;
  }
  .likehand{
    position: absolute;
    top: 16%;
    left: 20px;
    width: 45px;
    height: 82px;
    animation: ease-in-out infinite;
    animation-duration: 3.5s;
    animation-name: run3;
    transform: rotate(-5deg);
    display: none;
}
.worldwide{
  position: absolute;
  top: 16%;
  left: 356px;
  width: 45px;
  height: 60px;
  animation: ease-in-out infinite;
  animation-duration: 3.5s;
  animation-name: run5;
  transform: rotate(-5deg);
  display: none;
}
.loudspeaker{
  position: absolute;
  top: 7%;
  left: 35%;
  width: 45px;
  height: 60px;
  animation: ease-in-out infinite;
  animation-duration: 3.5s;
  animation-name: run6;
  transform: rotate(91deg);
  display: none;
}
.quantum{
  position: absolute;
  top: 267px;
  right: 273px;
  width: 33px;
  height: 60px;
  animation: ease-in-out infinite;
  animation-duration: 3.5s;
  animation-name: run7;
  transform: rotate(91deg);
  display: none;
}
.targetarrow{
 display: none;

}
.rocket{
  position: absolute;
  top: 267px;
  right: 273px;
  width: 33px;
  height: 60px;
  animation: ease-in-out infinite;
  animation-duration: 3.5s;
  animation-name: run8;
 display: none;
}
}
@media  (min-width:0px) and (max-width:370px) { 
  .perspective-text {
    -webkit-user-select: none;
    user-select: none;
    position: absolute;
    color: rgb(0, 0, 0);
    z-index: 6;
    font-family: Arial;
    font-size: 43px;
    font-weight: 900;
    top: 36px;
    color: black;
    left: -30px;
    letter-spacing: -2px;
    text-transform: uppercase
  }
}
@media  (max-width:449px) {
  .featuresdivmain{
    background: linear-gradient(
        to bottom,
       rgb(144,187,197) 8%,
        white 40%,                                                                 
        white 67%,
        white 44%
    );
    margin-top: 420px;
    height: 90%;
    
    }
  .boardlaptop{
    display: none;
  }
  .perspective-text2{
    display: none;
  }
  .envelope{
    position: absolute;
    top: 300px;
    right: 20px;
    width: 45px;
    height: 82px;
    animation: linear infinite;
    animation-name: run;
    animation-duration: 3.5s;
    transform: rotate(45deg);
  }
  .briefcase{
    position: absolute;
    top: 40%;
    right: 20px;
    width: 45px;
    height: 82px;
    animation: linear infinite;
    animation-name: run2;
    animation-duration: 3.5s;
    transform: rotate(45deg);
  }
  .flask{
    position: absolute;
    top: 6%;
    right: 86%;
    width: 45px;
    height: 82px;
    animation: ease-in infinite;
    animation-name: run4;
    animation-duration: 3.5s;
    transform: rotate(-45deg);
  }
  .likehand{
    position: absolute;
    top: 16%;
    left: 20px;
    width: 45px;
    height: 82px;
    animation: ease-in-out infinite;
    animation-duration: 3.5s;
    animation-name: run3;
    transform: rotate(-5deg);
}
.worldwide{
  position: absolute;
  top: 16%;
  left: 356px;
  width: 45px;
  height: 60px;
  animation: ease-in-out infinite;
  animation-duration: 3.5s;
  animation-name: run5;
  transform: rotate(-5deg);
}
.loudspeaker{
  position: absolute;
  top: 7%;
  left: 35%;
  width: 45px;
  height: 60px;
  animation: ease-in-out infinite;
  animation-duration: 3.5s;
  animation-name: run6;
  transform: rotate(91deg);
}
.quantum{
  position: absolute;
  top: 267px;
  right: 273px;
  width: 33px;
  height: 60px;
  animation: ease-in-out infinite;
  animation-duration: 3.5s;
  animation-name: run7;
  transform: rotate(91deg);
}
.targetarrow{
 display: none;

}
.rocket{
  position: absolute;
  top: 267px;
  right: 273px;
  width: 33px;
  height: 60px;
  animation: ease-in-out infinite;
  animation-duration: 3.5s;
  animation-name: run8;

}
@keyframes run8 {
  0% {
    left: 0px;
    rotate: 338deg;
    top: -20px;
}
50% {
    left: 6px;
    rotate: 30deg;
    top: 257px;
}
100% {
    left: 435px;
    /* rotate: 30deg; */
    top: -20px;
}
}
@keyframes run7 {
  0% {
    width: 0px;
    rotate: 200deg;
}

10% {
    width: 68px;
    rotate: 400deg;
}
20% {
    width: 48px;
    rotate: 600deg;
}
40% {
    width: 68px;
    rotate: 800deg;
}
60% {
    width: 48px;
    rotate: 1000deg;
}
80% {
    width: 68px;
    rotate: 1000deg;
}
100% {
    width: 0px;
    rotate: 600deg;
}
}
@keyframes run6 {
  0% {
    top: 0%;
    rotate: 20deg;
}

50% {
    top: 5%;
    width: 68px;
    rotate: -1deg;
}
100% {
    top: 0%;
    rotate: 20deg;
}
}
@keyframes run5 {
  0% {
      transform: rotate(0deg) 
            translateY(100px) rotate(0deg);
  }

  100% {
      transform: rotate(360deg) 
            translateY(100px) rotate(-360deg);
  }
}
  @keyframes run4 {
    0% {
      rotate: 0deg;
  }
  35% {
      rotate: 92deg;
  }
  75% {
      rotate: -92deg;
  }
  
  100% {
      rotate: 0deg;
  }
  }
  @keyframes run3 {
    0% {
      left: 35px;
      top: 100px;
  }
  50% {
      left: -11px;
      top: 200px;
  }
  100% {
      left: 35px;
      top: 100px;
  }
  }
  @keyframes run2 {
    0% {
      top: 0;
      rotate: 358deg;
  }
  
  50% {
      top: 15%;
      rotate: 211deg;
  }
  100% {
      top: 0;
  }
  }
  @keyframes run {
    0% {
      /* left: 0; */
      right: 20%;
  }
  
  50% {
      right: 12%;
  }
  100% {
      /* left: 0; */
      right: 20%;
  }
  }
  .boardtext{
    position: absolute;
    top: 44px;
    height: 100%;
    width: 100%;
  }

  .boardimg{
      width: 100%;
      z-index: -1;
      position: absolute;
      opacity: 0.4;
    }
  .perspective-text {
    -webkit-user-select: none;
    user-select: none;
    position: absolute;
    color: rgb(0, 0, 0);
    z-index: 6;
    font-family: Arial;
    font-size: 43px;
    font-weight: 900;
    top: 36px;
    color: black;
    left: -10px;
    letter-spacing: -2px;
    text-transform: uppercase
  }
  p.LJETOLEARN{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    margin: 0px;
    height: 50px;
    line-height: 48px;
    transition: all 0.5s ease-in-out;
  }
  .perspective-line {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    height: 50px;
    overflow: hidden;
  
  }
  .perspective-line:nth-child(odd) {
    transform: skew(335deg, 182deg) scaleY(0.767);
  }
  .perspective-line:nth-child(even) {
    transform: skew(0deg, 2deg) scaleY(1.73);
  }
  .perspective-line {
    position: relative;
  }
  
  .perspective-line:nth-child(1) {
    left: 29px;
  }
  .perspective-line:nth-child(2) {
    left: 58px;
  }
  .perspective-line:nth-child(3) {
    left: 87px;
  }
  .perspective-line:nth-child(4) {
    left: 116px;
  }
  .perspective-line:nth-child(5) {
    left: 145px;
  }
  .perspective-text:hover p{
    transform: translate(0, -50px);

  } 
}
@media  (min-width:450px) and (max-width: 650px ) {
  .featuresdivmain{
    background: linear-gradient(
      to bottom,
     rgb(144,187,197) 8%,
      white 40%,                                                                 
      white 67%,
      white 44%
  );
    margin-top: 590px;
    height: 90%;
    
    }
  .boardlaptop{
    display: none;
  }
  .envelope{
    position: absolute;
    top: 289px;
    left: 1%;
    width: 45px;
    height: 82px;
    animation: linear infinite;
    animation-name: run;
    animation-duration: 3.5s;
    transform: rotate(45deg);
  }
  .briefcase{
    position: absolute;
    top: 40%;
    right: 20px;
    width: 45px;
    height: 82px;
    animation: linear infinite;
    animation-name: run2;
    animation-duration: 3.5s;
    transform: rotate(45deg);
  }
  .flask{
    position: absolute;
    top: 6%;
    right: 86%;
    width: 45px;
    height: 82px;
    animation: ease-in infinite;
    animation-name: run4;
    animation-duration: 3.5s;
    transform: rotate(-45deg);
  }
  .likehand{
    position: absolute;
    top: 16%;
    left: 20px;
    width: 45px;
    height: 82px;
    animation: ease-in-out infinite;
    animation-duration: 3.5s;
    animation-name: run3;
    transform: rotate(-5deg);
}
.worldwide{
  position: absolute;
  top: 16%;
  left: 356px;
  width: 45px;
  height: 60px;
  animation: ease-in-out infinite;
  animation-duration: 3.5s;
  animation-name: run5;
  transform: rotate(-5deg);
}
.loudspeaker{
  position: absolute;
  top: 7%;
  left: 35%;
  width: 45px;
  height: 60px;
  animation: ease-in-out infinite;
  animation-duration: 3.5s;
  animation-name: run6;
  transform: rotate(91deg);
}
.quantum{
  position: absolute;
  top: 267px;
  right: 1%;
  width: 33px;
  height: 60px;
  animation: ease-in-out infinite;
  animation-duration: 3.5s;
  animation-name: run7;
  transform: rotate(91deg);
}
.targetarrow{
  position: absolute;
  top: 328px;
  left:63%;
  width: 33px;
  height: 60px;
  animation: ease-in-out infinite;
  animation-duration: 3.5s;
  animation-name: run8;

}
.rocket{
  position: absolute;
  top: 267px;
  right: 273px;
  width: 33px;
  height: 60px;
  animation: ease-in-out infinite;
  animation-duration: 3.5s;
  animation-name: run9;

}
@keyframes run9 {
  0% {
    left: 0px;
    rotate: 338deg;
    top: -20px;
}
50% {
    left: 6px;
    rotate: 30deg;
    top: 257px;
}
100% {
    left: 435px;
    /* rotate: 30deg; */
    top: -20px;
}
}
@keyframes run8 {
  0% {
    width: 0px;
   
}

10% {
    width: 68px;

}
20% {
    width: 48px;

}
40% {
    width: 68px;

}
60% {
    width: 48px;

}
80% {
    width: 68px;

}
100% {
    width: 0px;
    
}
}
@keyframes run7 {
  0% {
    width: 0px;
    rotate: 200deg;
}

10% {
    width: 68px;
    rotate: 400deg;
}
20% {
    width: 48px;
    rotate: 600deg;
}
40% {
    width: 68px;
    rotate: 800deg;
}
60% {
    width: 48px;
    rotate: 1000deg;
}
80% {
    width: 68px;
    rotate: 1000deg;
}
100% {
    width: 0px;
    rotate: 600deg;
}
}
@keyframes run6 {
  0% {
    top: 0%;
    rotate: 20deg;
}

50% {
    top: 5%;
    width: 68px;
    rotate: -1deg;
}
100% {
    top: 0%;
    rotate: 20deg;
}
}
@keyframes run5 {
  0% {
      transform: rotate(0deg) 
            translateY(100px) rotate(0deg);
  }

  100% {
      transform: rotate(360deg) 
            translateY(100px) rotate(-360deg);
  }
}
  @keyframes run4 {
    0% {
      rotate: 0deg;
  }
  35% {
      rotate: 92deg;
  }
  75% {
      rotate: -92deg;
  }
  
  100% {
      rotate: 0deg;
  }
  }
  @keyframes run3 {
    0% {
      left: 35px;
      top: 100px;
  }
  50% {
      left: -11px;
      top: 200px;
  }
  100% {
      left: 35px;
      top: 100px;
  }
  }
  @keyframes run2 {
    0% {
      top: 0;
      rotate: 358deg;
  }
  
  50% {
      top: 15%;
      rotate: 211deg;
  }
  100% {
      top: 0;
  }
  }
  @keyframes run {
    0% {
      left: 0;
  }
  50% {
      left: 12%;
  }
  100% {
      left: 0;
     
     }
  }
  .boardtext{
    position: absolute;
    top: 44px;
    height: 100%;
    width: 100%;
  }

  .boardimg{
      width: 100%;
      z-index: -1;
      position: absolute;
      opacity: 0.4;
    }
  .perspective-text {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    position: absolute;
    color: rgb(0, 0, 0);
    z-index: 6;
    font-family: Arial;
    font-size: 50px;
    font-weight: 900;
    top: 80px;
    left: 11%;
    letter-spacing: -2px;
    text-transform: uppercase;
  }
  p.LJETOLEARN {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    margin: 0px;
    height: 50px;
    line-height: 48px;
    transition: all 0.5s ease-in-out;
  }
  .perspective-line {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    height: 50px;
    overflow: hidden;
  
  }
  .perspective-line:nth-child(odd) {
    transform: skew(335deg, 182deg) scaleY(0.767);
  }
  .perspective-line:nth-child(even) {
    transform: skew(0deg, 2deg) scaleY(1.73);
  }
  .perspective-line {
    position: relative;
  }
  
  .perspective-line:nth-child(1) {
    left: 29px;
  }
  .perspective-line:nth-child(2) {
    left: 58px;
  }
  .perspective-line:nth-child(3) {
    left: 87px;
  }
  .perspective-line:nth-child(4) {
    left: 116px;
  }
  .perspective-line:nth-child(5) {
    left: 145px;
  }
  .perspective-text:hover p{
    transform: translate(0, -50px);
   
  } 




  .perspective-text2 {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    position: absolute;
    color: rgb(0, 0, 0);
    z-index: 6;
    font-family: Arial;
    font-size: 8px;
    font-weight: 900;
    top: 250px;
    left: 18px;
    letter-spacing: -2px;
    text-transform: uppercase;
  }
  .p2 {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    margin: 0px;
    height: 28px;
    line-height: 25px;
    transition: all 0.5s ease-in-out;
  }
  .perspective-line2 {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    /* height: 50px; */
    height: 28px;
    overflow: hidden;
  
  }
  .perspective-line2:nth-child(odd) {
    transform: skew(335deg, 182deg) scaleY(0.767);
  }
  .perspective-line2:nth-child(even) {
    transform: skew(0deg, 2deg) scaleY(1.73);
  }
  .perspective-line2 {
    position: relative;
  }
  
  .perspective-line2:nth-child(1) {
    left: 29px;
  }
  .perspective-line2:nth-child(2) {
    left: 58px;
  }
  .perspective-line2:nth-child(3) {
    left: 87px;
  }
  .perspective-line2:nth-child(4) {
    left: 116px;
  }
  .perspective-line2:nth-child(5) {
    left: 145px;
  }
  .perspective-line2:nth-child(6) {
    left: 185px;
  }
  .perspective-text2:hover h1{
    transform: translate(0, -28px);
  } 
}


.divfeature{
  width: 100vw;
}


/* @media screen and (min-width: 1101px) {
.featuresdivmain{
  background: linear-gradient(
      to bottom,
      #ffbb01 8%,
      white 40%,                                                                 
      white 67%,
      white 44%
  );
  height: 90%;

}
}
@media screen and (max-width: 1100px) {
.featuresdivmain{
  background: linear-gradient(
      to bottom,
      #ffbb01 8%,
      white 40%,                                                                 
      white 67%,
      white 44%
  );
  height: 1200px;

}
} */
/* .divbenifits{
  width: 100vw;

} */

/* css for features start from here  */


.features{
  background: linear-gradient(
    to bottom,
    rgb(144,187,197) 10%,
    white 90%,                                                                 
    white 50%,
    white 100%
);

/* height: 602px; */
margin-bottom: 200px; 
display:block; height: 100%
}
.featuresheader{
text-align: center;
padding:65px;
color: white;
margin-top: 0%;
text-align: center;
padding: 65px;
text-shadow: 5px 6px black;

}

/* .featuresdiv{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
} */
.featuresubdivfirst1{
/* background-image: url(../images/320-2.jpg); */
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin: 10px;
color: rgb(0, 0, 0);
font-variant: all-petite-caps;
overflow: scroll;
width: 350px;
height: 360px;
position: relative;
/* background:linear-gradient(330deg, rgba(161,164,255,1) 39%, rgba(255,255,255,1) 99%);;  */
border-radius: 20px;
perspective: 200px;
top: -44px;
/* border-bottom-left-radius: 160px;
border-bottom-right-radius: 160px; */
}
.featuresubdivmiddle1{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin: 10px;
color: black;
font-variant: all-petite-caps;
overflow: scroll;
width: 350px;
height: 360px;
position: relative;
/* background-color: white;  */
border-radius: 20px;
perspective: 200px;
/* border-bottom-left-radius: 160px;
border-bottom-right-radius: 160px; */
}
.featuresubdivlast1{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin: 10px;
color: black;
font-variant: all-petite-caps;
overflow: scroll;
width: 350px;
height: 360px;
position: relative;
/* background-color:#ffce46; 
*/
/* background: linear-gradient(124deg, rgba(255,206,70,1) 65%, rgba(139,139,139,1) 100%); */
border-radius: 20px;
perspective: 200px;
top: 44px;
/* border-bottom-left-radius: 160px;
border-bottom-right-radius: 160px; */
}
.middlefeature:hover{
transform: translateY(-20px);
transition: all 1.2s;
}
.featuresubdivfirst1:hover{
transform: translateY(20px);
transition: all 1.2s;
/* height: 420px; */
}
.featuresubdivlast1:hover{
transform: translateY(-20px);
transition: all 1.2s;
/* height: 420px; */
}
.contenttext{
top: 31%;
/* position: relative; */
/* margin-top: -5px; */
margin-left: 4%;
margin-right: 4%;
/* margin: 24px; */
text-align: justify;
}
.contentheader{
padding-left: 3%;
}


.cardcontent{
position: absolute;
top: 25%;
margin-top: -18px;

}
.featuresubdivfirst1::after{
background:linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.2)) ;
}
.featuresubdivmiddle1::after{
background:linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.2)) ;
}
.featuresubdivlast1::after{
background:linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.2)) ;
}
.featuresubdivfirst1::-webkit-scrollbar{
display: none;
}
.featuresubdivmiddle1::-webkit-scrollbar{
display: none;
}
.featuresubdivlast1::-webkit-scrollbar{
display: none;
}
.featuresubdivfirst1:hover{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1.99);
}
.featuresubdivmiddle1:hover{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1.99);
}
.featuresubdivlast1:hover{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1.99);
}
.feature1{
height:20px;
width : 20px
}
.feature2{
height:20px;
width : 20px
}
.feature3{
height:20px;
width : 20px
}


/* css for benifits of online learning start from here  */


.divbenifitsonline{
  margin-top: 10%;
  /* background: rgb(253,188,20); */
  background: linear-gradient(176deg,rgb(242,128,14) 85%,rgb(59,105,180) 17%);
  padding: 0rem 0%;
  padding-top: 0rem;
  }
  .blob{
      width: 73%;
      height: 54%;
  }
  .reveal{
      position: relative;
      transform: translateY(290px);
      opacity: 0;
      transition: all 3s ease-in-out;
    }
    .reveal.active{
      transform: translateX(0px);
      opacity: 1;
    }
    
    .reveal1{
      position: relative;
      transform: translateY(290px);
      opacity: 0;
      transition: all 3s ease-in-out;
    }
    .reveal1.active{
      transform: translateX(0px);
      opacity: 1;
    }
    
    
    .animation1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }
      .animation1img{
        /* width: 900px; */
        
        /* width: 50%; */
      }
      .showanimestudent{
        position: relative;
        transform: translateX(290px);
        opacity: 0;
        transition: all 4s ease-in-out;
      }
      .showanimestudent.active{
        transform: translateX(0px);
        opacity: 1;
      }
      .showanimetitle{
        position: relative;
        margin-bottom: 40px;
        margin-top: 40px;
        transform: translateX(-290px);
        opacity: 0;
        transition: all 1.5s ease-in-out;
        /* padding-bottom: 119px; */
      }
      .showtitleunderlinetop {
          border-bottom: 5px solid #030202;
          border-right: 55px solid transparent;
          height: 0;
          width:100%;
      }
      .showtitleunderlinebottom {
          border-bottom: 5px solid #030202;
          border-right: 55px solid transparent;
          height: 0;
          width:90%;
      }
      .showtitleunderline {
          border-bottom: 5px solid #030202;
          border-right: 55px solid transparent;
          height: 0;
          width:100%;
      }
      .showanimetitle.active{
        transform: translateY(0px);
        opacity: 1;
        color: rgb(0, 0, 0);
        margin: 0%;
        margin-top: 31px;
        /* margin-top: 202px; */
        /* padding-left: 62px; */
        /* margin-bottom: 0px;*/
      }
      .benifitslst{
        margin: 0px;
        padding-left: 61px;
      }
      .benifitlist{
        font-feature-settings: "pcap", "c2pc";
        font-variant: all-petite-caps;
        font-size: 120%;
        font-weight: bold;
        color: rgb(0, 0, 0);
        margin: 0px;
        padding: 6px;
        /* padding-bottom: 13px; */
        /* padding-left: 60px; */
      }
      .showanimelist1{
        position: relative;
        transform: translateX(-440px);
        opacity: 0;
        transition: all 1.5s ease-in-out;
      }
      .showanimelist1.active{
        transform: translateY(0px);
        opacity: 1;
      }
      .showanimelist2{
        position: relative;
        transform: translateX(-500px);
        opacity: 0;
        transition: all 1.5s ease-in-out;
      }
      .showanimelist2.active{
        transform: translateY(0px);
        opacity: 1;
      }
      .showanimelist3{
        position: relative;
        transform: translateX(-560px);
        opacity: 0;
        transition: all 1.5s ease-in-out;
      }
      .showanimelist3.active{
        transform: translateY(0px);
        opacity: 1;
      }
      .showanimelist4{
        position: relative;
        transform: translateX(-720px);
        opacity: 0;
        transition: all 1.5s ease-in-out;
      }
      .showanimelist4.active{
        transform: translateY(0px);
        opacity: 1;
      }
      .showanimelist5{
        position: relative;
        transform: translateX(-780px);
        opacity: 0;
        transition: all 1.5s ease-in-out;
      }
      .showanimelist5.active{
        transform: translateY(0px);
        opacity: 1;
      }
      .showanimelist6{
        position: relative;
        transform: translateX(-840px);
        opacity: 0;
        transition: all 1.5s ease-in-out;
      }
      .showanimelist6.active{
        transform: translateY(0px);
        opacity: 1;
      }
      .showanimelist7{
        position: relative;
        transform: translateX(-900px);
        opacity: 0;
        transition: all 1.5s ease-in-out;
      }
      .showanimelist7.active{
        transform: translateY(0px);
        opacity: 1;
      }
      .showanimelist8{
        position: relative;
        transform: translateX(-960px);
        opacity: 0;
        transition: all 1.5s ease-in-out;
      }
      .showanimelist8.active{
        transform: translateY(0px);
        opacity: 1;
      }
    

      /* from here css for benifits of online learning start */

      .whylj{
       background:  linear-gradient(184deg,rgb(59,105,180) 94%,rgb(242,128,14) 14%)
      }
      .flex-container {
        display: flex;
        flex-direction: row;
        font-size: 30px;
        text-align: center;

       margin-top: -0.7%;
      }
      .titlewhy{
        background: rgb(59,105,180);
        margin: -1px;

        font-weight: 900;
        padding-bottom: 60px;
        text-align: center;
        color: rgb(255, 255, 255);
      }

      .flex-item-left {
        background-color: transparent;
   
        flex: 50%;
      }

      .flex-item-right {
        background-color:transparent;

        flex: 33.33%;
      }

.left1::-webkit-scrollbar{
  display: none;
  }
.left2::-webkit-scrollbar{
  display: none;
  }

.left3::-webkit-scrollbar{
  display: none;
  }
.left4::-webkit-scrollbar{
  display: none;
  }
  


      /* Responsive layout - makes a one column-layout instead of two-column layout */

      /* this is for mobile */

    
      @media (max-width: 800px) {
        .flex-container {
          flex-direction: column;
          padding-bottom: 30px;
        }
  .left1{
    overflow: scroll;
    border-color: #ffffff;
    border-style: solid;
    margin-left: 110px;
    height: 100px;
    border-top-right-radius: 65px;
    border-top-left-radius: 65px;
    border-bottom-right-radius: 65px;
    border-bottom-left-radius: 65px;
    /* margin: 60px; */
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 60px;
    margin-top: 60px;
  }
  .left2{
    overflow: scroll;
    border-color:rgb(255, 255, 255);
    border-style: solid;
    margin-left: 110px;
    height: 100px;
    border-top-right-radius: 65px;
    border-top-left-radius: 65px;
    border-bottom-right-radius: 65px;
    border-bottom-left-radius: 65px;
    /* margin: 60px; */
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 60px;
    margin-top: 60px;
  }
  .left3{
    overflow: scroll;
    border-color: #ffffff;
    border-style: solid;
    margin-left: 110px;
    height: 100px;
    border-top-right-radius: 65px;
    border-top-left-radius: 65px;
    border-bottom-right-radius: 65px;
    border-bottom-left-radius: 65px;
    /* margin: 60px; */
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 60px;
    margin-top: 60px;
  }
  .left4{
    overflow: scroll;
    border-color: #ffffff;
    border-style: solid;
    margin-left: 110px;
    height: 100px;
    border-top-right-radius: 65px;
    border-top-left-radius: 65px;
    border-bottom-right-radius: 65px;
    border-bottom-left-radius: 65px;
    /* margin: 60px; */
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 60px;
    margin-top: 60px;
  }
      }

      /* this is for tablets and laptop */
      @media (min-width: 800px){
        .flex-container {
          padding-bottom: 120px;
        }
        .flexrightimg{
          margin-top: 100px;
        }
        .left1{
          overflow: scroll;
          border-color: #ffffff;
          border-style: solid;
          margin-left: 110px;
          height: 100px;
          border-top-right-radius: 65px;
          border-top-left-radius: 65px;
          border-bottom-right-radius: 65px;
          border-bottom-left-radius: 65px;
              /* margin: 60px; */
          margin-left: 16px;
          margin-right: 16px;
        }
        .useoftechheader{
          color: #ffffff;
          font-size: 22px;
        }
        .onetooneheader{

          color: #ffffff;
          font-size: 22px;
        }
        .onehundperheader{
          color: #ffffff;
          font-size: 22px;
        }
        .left2{
          overflow: scroll;
          border-color:#ffffff;
          border-style: solid;
      
          margin-left: 110px;
          height: 100px;
          border-top-right-radius: 65px;
          border-top-left-radius: 65px;
          border-bottom-right-radius: 65px;
          border-bottom-left-radius: 65px;
            /* margin: 60px; */
          margin-left: 16px;
          margin-right: 16px;
          margin-top: 60px;
        }
        .left3{
          overflow: scroll;
          border-color:#ffffff;
          border-style: solid;
          
          margin-left: 110px;
          height: 100px;
          border-top-right-radius: 65px;
          border-top-left-radius: 65px;
          border-bottom-right-radius: 65px;
          border-bottom-left-radius: 65px;
                   /* margin: 60px; */
                   margin-top: 60px;
                   margin-left: 16px;
                   margin-right: 16px;
        }
        .left4{
          overflow: scroll;
          border-color:#ffffff;
          border-style: solid;
          
          margin-left: 110px;
          height: 100px;
          border-top-right-radius: 65px;
          border-top-left-radius: 65px;
          border-bottom-right-radius: 65px;
          border-bottom-left-radius: 65px;
                   /* margin: 60px; */
                   margin-top: 60px;
                   margin-left: 16px;
                   margin-right: 16px;
        }
      }
      p.textonetoone{
        font-size: 14px;
        font-weight: 600;
        line-height: 19px;
        margin: 12px;
        text-align: justify;
        color: #ffffff;
      }
      p.textuseoftech{
        font-size: 14px;
        font-weight: 600;
        line-height: 19px;
        margin: 12px;
        text-align: justify;
        color: #ffffff;
      }
      p.textonehundper{
        font-size: 14px;
        font-weight: 600;
        line-height: 19px;
        margin: 12px;
        text-align: justify;
        color: #ffffff;
      }
      .onetooneimg{
        width: 71px;
        height: 67px;
        margin-top: 11px;
        margin-left: 12px;
        float: left;
        border-color: #000000;
        border-style: solid;
        border-radius: 360%;
        background-color: white;
      }
      .useoftechimg{
        width: 71px;
        height: 67px;
        margin-top: 11px;
        margin-left: 12px;
        float: left;
        border-color:rgb(0, 0, 0);
        border-style: solid;
        border-radius: 360%;
        background-color: white;
      }
      .onehundperimg{
        width: 71px;
        height: 67px;
        margin-top: 11px;
        margin-left: 12px;
        float: left;
        border-color:rgb(0, 0, 0);
        border-style: solid;
        border-radius: 360%;
        background-color: white;
      }
      .affordimg{
        width: 71px;
        height: 67px;
        margin-top: 11px;
        margin-left: 12px;
        float: left;
        border-color:#000000;
        border-style: solid;
        border-radius: 360%;
        background-color: white;
      }











      /* ///////////////// */
      