/* on hover three sections */
/* .main{
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100vw;
}
.three{
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}

.boxtest{

  width: 33.333vw;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
.boxtest2{


  width: 33.333vw;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
.boxtest3{

  width: 33.333vw;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.box1content1test{
  background: rgba(0,0,0,0.6);
  box-sizing: border-box;
  color: white;
  top: 0;
  text-align: center;
  padding-top: 190px;
  width: 100%;
  left: -100%;
  height: 100vh;
  position: absolute;

  transition: all 0.98s;
  overflow-y: hidden;
  overflow-x: hidden;
}

.box1{
 left: -100%;
}

 .boxtest:hover .box1content1test{
  left: 0%;
  z-index: 2;
} 
.testimage{
  width: 100%;
  height: 100vh;
}
.testimage2{
  width: 100%;
  height: 100vh;
}
.testimage3{
  width: 100%;
  height: 100vh;
}

.box1content1test2{

  z-index: -1;
  background: rgba(0,0,0,0.6);
  box-sizing: border-box;
  position: absolute;
  padding-top: 190px;
  color: white;
  top: 0;
  text-align: center;
  height: 100vh;
  width: 16.665vw;

  left: 40.98%;
  transition: all 0.98s;
  overflow-y: hidden;
  overflow-x: hidden;
}

.boxtest2:hover .box1content1test2{
   left: 0;
   width: 100%;
    z-index: 2;
} 
.box1content1test3{

  z-index: -1; 
  background: rgba(0,0,0,0.6);
  box-sizing: border-box;
  position: absolute;
  color: white;
  padding-top: 190px;
  top: 0;
  text-align: center;
  height: 100vh;
  width: 1vw;

   right: 0%;
  transition: all 0.98s;
  overflow-y: hidden;
  overflow-x: hidden;
}

.boxtest3:hover .box1content1test3{
   right: 0;
   width: 100vw;
    z-index: 2;
}  */
/* .container {
    position: flex;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 50%;
    height: 90%;
    margin: 0px;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    width: 20%;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
  } */

  .main{
    /* background-color: #04AA6D; */
  }
  /* // navbarlaptop design // */
  .navbarlaptop{
    display: flex;
  }
  /* /// laptop tablet navbarlaptop css  /// */
  .ullinks{
    display: flex;
  }
  .Links2{
    text-decoration: none;
    color: black;
  }
  .Link1{
   padding: 0 0 0 20px;
   font-size: large;
   list-style-type: none;
   
  }
  .Link2{
   padding: 0 0 0 20px;
   font-size: large;
   list-style-type: none;
  }
  .Link3{
   padding: 0 0 0 20px;
   font-size: large;
   list-style-type: none;
  }
.Links:hover{
  transform: scale(1.1);
  transition: 0.3s;
}
.Link1:hover{
  transform: scale(1.1);
  transition: 0.3s;
}
.Link2:hover{
  transform: scale(1.1);
  transition: 0.3s;
}
.Link3:hover{
  transform: scale(1.1);
  transition: 0.3s;
}
  .navlaptop{
    display: flex;
  }
  .Logo{
    padding-left: 156px;
    width: 100px;
  }

  /* /// hamburger menu css /// */
  .hamicon{
   padding-left: 300px;
   }
  .hamburgericon{
    margin: 10px;
    height: 38px;
  }
  .hamnav{
    height: 59px;
    /* text-decoration: none; */
    text-align: center;
     /* border: 20px; */
  }
  .div1 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
  .lines{
    padding-left: 220px;
  }
  .Links{
    text-decoration: none;
    color: black;

  }
  .Link4{
    list-style-type: none;
  }
  .Link5{
    list-style-type: none;
  }
  .Link6{
    list-style-type: none;
  }







  .imagecontainerlaptop{
    display: flex;
    height: 517px;
    margin-top: -38px;
  }
  .imagemobile320{
    width: 100%;
    height: 720px;
    display: flex;
  }
  .imagelaptop{
    display: flex;
    width: 33.33%;
    height: 570px;
  }
  /* .imagelaptop1{
    display: flex;
    width: 33.33%;
    height: 570px;
  } */
  .boxes{
    display: flex;
  }
  .box1{
    width: 33.33%;
    position: relative;

  }
  .box1:hover .box1content1{
    left: 0%;
 padding: 102px;     /*// this is changing  the are you student */
 
  }
  .box1 img{
    width: 100%;
    height: 100%;
  }
  .box1content1{
    background: rgba(0,0,0,0.6);
    box-sizing: border-box;
    position: absolute;
    color: white;
    top: 0;
    text-align: center;
    /* left: 0; */
    /* background-color: black; */
    height: 100%;
    width: 100%;
    /* left: -100; */
    left: -100%;
    transition: all 0.98s;

  }
  .box2{
    width: 33.33%;
    position: relative;
    overflow: hidden;
  }
  .box2:hover .box2content2{
    top: 0%;
    padding: 102px; 
  }
  .box2 img{
    width: 100%;
    height: 100%;
  }
  .box2content2{
    text-align: center;
    background: rgba(0,0,0,0.6);
    box-sizing: border-box;
    position: absolute;
    color: white;
    top: -100%;
    /* left: 0; */
    /* background-color: black; */
    height: 100%;
    width: 100%;
    /* left: -100; */
     left: 0%; 
    transition: all 0.9s;
  }
  .box3{
    width: 33.33%;
    position: relative;
    overflow: hidden;
  }
  .box3:hover .box3content3{
    right: 0%;
    padding: 120px; 
  }
  .box3 img{
    width: 100%;
    height: 100%;
  }
  .box3content3{
    text-align: center;
    background: rgba(0,0,0,0.6);
    box-sizing: border-box;
    position: absolute;
    color: white;
    /* left: 0; */
    /* background-color: black; */
    height: 100%;
    width: 100%;
    right: -100%;
     top: 0%; 
    transition: all 0.9s;
  }
  /* .imagelaptop1:hover{
  
   transform: translatey(100px ); 
  } */
  /* // css for mobile small // */
  @media only screen and (max-width : 321px){
    .imagecontainerlaptop{
      display: none;
    }
    .navbarlaptop{
      display: none;
    }
  }
  @media only screen and (min-width : 322px) and (max-width:376px){
    .imagecontainerlaptop{
      display: none;
    }
    .navbarlaptop{
      display: none;
    }
  }
  @media only screen and (min-width:377px) and (max-width : 426px) {
    .imagecontainerlaptop{
      display: none;
    }
    .navbarlaptop{
      display: none;
    }
  }
  
/* @media only screen and (max-width: 760px)  {

} */

/* // css for laptops and 4k // */
@media only screen and (min-width: 760px) and (max-width:  2560px) {
  .hamburger-icon{
    display: none;
  }
  .imagecontainermobile{
    display: none;
  }
  .divlinks{
    position: fixed;
    margin-left: 43%;
  }
  .imagecontainerlaptop{
    height: 709px;
}
}
/* // css for tablets / */
@media only screen and (max-width: 768px) and (min-width: 426px) {
  .hamburger-icon{
    display: none;
  }  
  .divlinks{
      margin-left: 26%;
    }
    .imagecontainerlaptop{
         height: 517px;
    }
}





   
/* .container {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
} */
.container {
  display: inline;
  left: 20px;
  align-items: center;
  justify-content: center;
  position: absolute;
  align-content: center;
}
ul li {
  margin: 0 0 4px;
}

.the-arrow {
  width: 1px;
  transition: all 0.2s;
}
.the-arrow.-left {
  position: absolute;
  top: 60%;
  left: 0;
}
.the-arrow.-left > .shaft {
  width: 0;
  background-color: #22559C;
}
.the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
  width: 0;
  background-color: #22559C;
}
.the-arrow.-left > .shaft:before {
  transform: rotate(0);
}
.the-arrow.-left > .shaft:after {
  transform: rotate(0);
}
.the-arrow.-right {
  top: 3px;
}
.the-arrow.-right > .shaft {
  width: 1px;
  transition-delay: 0.2s;
}
.the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
  width: 8px;
  transition-delay: 0.3s;
  transition: all 0.5s;
}
.the-arrow.-right > .shaft:before {
  transform: rotate(40deg);
}
.the-arrow.-right > .shaft:after {
  transform: rotate(-40deg);
}
.the-arrow > .shaft {
  background-color: #22559C;
  display: block;
  height: 1px;
  position: relative;
  transition: all 0.2s;
  transition-delay: 0;
  will-change: transform;
}
.the-arrow > .shaft:before, .the-arrow > .shaft:after {
  background-color: #22559C;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s;
  transition-delay: 0;
}
.the-arrow > .shaft:before {
  transform-origin: top right;
}
.the-arrow > .shaft:after {
  transform-origin: bottom right;
}

.animated-arrow {
  display: inline-block;
  color: #22559C;
  width: 137px;
  font-size: 1.25em;
  width: 141px;
  font-style: italic;
  text-decoration: none;
  position: relative;
  transition: all 0.2s;
}
.animated-arrow:hover {
  color: #22559C;
}
.animated-arrow:hover > .the-arrow.-left > .shaft {
  width: 64px;
  transition-delay: 0.1s;
  background-color: #22559C;
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before, .animated-arrow:hover > .the-arrow.-left > .shaft:after {
  width: 8px;
  transition-delay: 0.1s;
  background-color: #22559C;
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before {
  transform: rotate(40deg);
}
.animated-arrow:hover > .the-arrow.-left > .shaft:after {
  transform: rotate(-40deg);
}
.animated-arrow:hover > .main {
  transform: translateX(17px);
  transform: translateX(80px);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft {
  width: 0;
  transform: translateX(200%);
  transition-delay: 0;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  width: 0;
  transition-delay: 0;
  transition: all 0.1s;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
  transform: rotate(0);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  transform: rotate(0);
}
.animated-arrow > .main {
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
.animated-arrow > .main > .text {
  margin: 0 16px 0 0;
  line-height: 1;
}
.animated-arrow > .main > .the-arrow {
  position: relative;
}