
.body{
    overflow-x: hidden;
    overflow-y: hidden;
}
.navbar{
    width: 100vw;
}
.divfeature{
    width: 100vw;
}
.featuresdivmain{
    background: linear-gradient(
        to bottom,
        #ffbb01 8%,
        white 40%,                                                                 
        white 67%,
        white 44%
    );
    height: 86em;

}
@media screen and (min-width: 601px) {
  .featuresdivmain{
    background: linear-gradient(
        to bottom,
        #ffbb01 8%,
        white 40%,                                                                 
        white 67%,
        white 44%
    );
    height: 48em;

}
  }
/* .divbenifits{
    width: 100vw;

} */

/* css for features start from here  */
.features{
    background: linear-gradient(
      to bottom,
      rgb(255, 187, 0) 10%,
      white 90%,                                                                 
      white 50%,
      white 100%
  );
  /* height: 602px; */
  margin-bottom: 200px; 
  display:block; height: 100%
  }
.featuresheader{
text-align: center;
padding:65px;
color: white;
text-align: center;
padding: 65px;
text-shadow: 5px 6px black;

}

/* .featuresdiv{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
} */
.featuresubdivfirst1{
/* background-image: url(../images/320-2.jpg); */
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin: 10px;
color: rgb(0, 0, 0);
font-variant: all-petite-caps;
overflow: scroll;
width: 350px;
height: 360px;
position: relative;
/* background:linear-gradient(330deg, rgba(161,164,255,1) 39%, rgba(255,255,255,1) 99%);;  */
border-radius: 20px;
perspective: 200px;
top: -44px;
/* border-bottom-left-radius: 160px;
border-bottom-right-radius: 160px; */
}
.featuresubdivmiddle1{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin: 10px;
color: black;
font-variant: all-petite-caps;
overflow: scroll;
width: 350px;
height: 360px;
position: relative;
/* background-color: white;  */
border-radius: 20px;
perspective: 200px;
/* border-bottom-left-radius: 160px;
border-bottom-right-radius: 160px; */
}
.featuresubdivlast1{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin: 10px;
color: black;
font-variant: all-petite-caps;
overflow: scroll;
width: 350px;
height: 360px;
position: relative;
/* background-color:#ffce46; 
 */
 /* background: linear-gradient(124deg, rgba(255,206,70,1) 65%, rgba(139,139,139,1) 100%); */
border-radius: 20px;
perspective: 200px;
top: 44px;
/* border-bottom-left-radius: 160px;
border-bottom-right-radius: 160px; */
}
.middlefeature:hover{
transform: translateY(-20px);
transition: all 1.2s;
}
.featuresubdivfirst1:hover{
transform: translateY(20px);
transition: all 1.2s;
/* height: 420px; */
}
.featuresubdivlast1:hover{
transform: translateY(-20px);
transition: all 1.2s;
/* height: 420px; */
}
.contenttext{
top: 31%;
/* position: relative; */
/* margin-top: -5px; */
margin-left: 4%;
margin-right: 4%;
/* margin: 24px; */
text-align: justify;
}
.contentheader{
padding-left: 3%;
}


.cardcontent{
position: absolute;
top: 25%;
margin-top: -18px;

}
.featuresubdivfirst1::after{
background:linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.2)) ;
}
.featuresubdivmiddle1::after{
background:linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.2)) ;
}
.featuresubdivlast1::after{
background:linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.2)) ;
}
.featuresubdivfirst1::-webkit-scrollbar{
display: none;
}
.featuresubdivmiddle1::-webkit-scrollbar{
display: none;
}
.featuresubdivlast1::-webkit-scrollbar{
display: none;
}
.featuresubdivfirst1:hover{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1.99);
}
.featuresubdivmiddle1:hover{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1.99);
}
.featuresubdivlast1:hover{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1.99);
}
.feature1{
height:20px;
width : 20px
}
.feature2{
height:20px;
width : 20px
}
.feature3{
height:20px;
width : 20px
}

/* css for features end here  */
.reveal{
    position: relative;
    transform: translateY(290px);
    opacity: 0;
    transition: all 3s ease-in-out;
  }
  .reveal.active{
    transform: translateX(0px);
    opacity: 1;
  }
  
  .reveal1{
    position: relative;
    transform: translateY(290px);
    opacity: 0;
    transition: all 3s ease-in-out;
  }
  .reveal1.active{
    transform: translateX(0px);
    opacity: 1;

  }
  @media screen and (min-width: 601px) {
    .reveal1.active{
        transform: translateX(0px);
        opacity: 1;
        top: 10%;
      }
      .reveal.active{
        transform: translateX(0px);
        opacity: 1;
        top: 10%;
      }
    }

/* / css for features end here  / */



/* / css for benifits of online starts from here / */
.blob{
    width: 73%;
    height: 54%;
}
.reveal{
    position: relative;
    transform: translateY(290px);
    opacity: 0;
    transition: all 3s ease-in-out;
  }
  .reveal.active{
    transform: translateX(0px);
    opacity: 1;
  }
  
  .reveal1{
    position: relative;
    transform: translateY(290px);
    opacity: 0;
    transition: all 3s ease-in-out;
  }
  .reveal1.active{
    transform: translateX(0px);
    opacity: 1;
  }
  
  
  .animation1{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    .animation1img{
      /* width: 900px; */
      
      /* width: 50%; */
    }
    .showanimestudent{
      position: relative;
      opacity: 0;
      transition: all 4s ease-in-out;
    }
    .showanimestudent.active{
      opacity: 1;
    }
    .showanimetitle{
      position: relative;
      margin-bottom: 40px;
      margin-top: 40px;
      transform: translateX(-290px);
      opacity: 0;
      transition: all 1.5s ease-in-out;
      /* padding-bottom: 119px; */
    }
    .showtitleunderlinetop {
        border-bottom: 5px solid #030202;
        border-right: 55px solid transparent;
        height: 0;
        width:100%;
    }
    .showtitleunderlinebottom {
        border-bottom: 5px solid #030202;
        border-right: 55px solid transparent;
        height: 0;
        width:100%;
    }
    .showtitleunderline {
        border-bottom: 5px solid #030202;
        border-right: 55px solid transparent;
        height: 0;
        width:100%;
    }
    .showanimetitle.active{
      transform: translateY(0px);
      opacity: 1;
    }
    .benifitlist{
    font-variant: all-petite-caps;
        font-size: 120%;
        padding: 2px;
        margin-top: 5px;
        font-weight: bold;
        padding-bottom: 13px;
        /* padding-left: 60px; */
    }
    .showanimelist1{
      position: relative;
      transform: translateX(-440px);
      opacity: 0;
      transition: all 1.5s ease-in-out;
    }
    .showanimelist1.active{
      transform: translateY(0px);
      opacity: 1;
    }
    .showanimelist2{
      position: relative;
      transform: translateX(-500px);
      opacity: 0;
      transition: all 1.5s ease-in-out;
    }
    .showanimelist2.active{
      transform: translateY(0px);
      opacity: 1;
    }
    .showanimelist3{
      position: relative;
      transform: translateX(-560px);
      opacity: 0;
      transition: all 1.5s ease-in-out;
    }
    .showanimelist3.active{
      transform: translateY(0px);
      opacity: 1;
    }
    .showanimelist4{
      position: relative;
      transform: translateX(-720px);
      opacity: 0;
      transition: all 1.5s ease-in-out;
    }
    .showanimelist4.active{
      transform: translateY(0px);
      opacity: 1;
    }
    .showanimelist5{
      position: relative;
      transform: translateX(-780px);
      opacity: 0;
      transition: all 1.5s ease-in-out;
    }
    .showanimelist5.active{
      transform: translateY(0px);
      opacity: 1;
    }
    .showanimelist6{
      position: relative;
      transform: translateX(-840px);
      opacity: 0;
      transition: all 1.5s ease-in-out;
    }
    .showanimelist6.active{
      transform: translateY(0px);
      opacity: 1;
    }
    .showanimelist7{
      position: relative;
      transform: translateX(-900px);
      opacity: 0;
      transition: all 1.5s ease-in-out;
    }
    .showanimelist7.active{
      transform: translateY(0px);
      opacity: 1;
    }
    .showanimelist8{
      position: relative;
      transform: translateX(-960px);
      opacity: 0;
      transition: all 1.5s ease-in-out;
    }
    .showanimelist8.active{
      transform: translateY(0px);
      opacity: 1;
    }
  

/* / css for benifits of online ends here / */

.moon{
position: absolute;
}

.blinker {
  width: 12px;
  height:12px;
  background-color: red;
  border-radius: 100px;
  margin: 20px;
  animation-name: blink;
  animation-duration: 1.0s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  50% {opacity: 0;}
}

.geomap{
  background-color: #ffbb01;
      background-color: #ffbb01;
    z-index: 1;
    position: relative;
}
 .blinker2{
  width: 12px;
  height:12px;
  background-color: red;
  animation-name: blinknext;
  animation-duration: 1.0s;
  animation-iteration-count: infinite;
 }
 @keyframes blinknext{
  50% {padding: 2px;}
 }
.mumbai{
  padding-left: 3px;
}