
.body{
    overflow-x: hidden;
    overflow-y: hidden;
}
.navbar{
    width: 100vw;
}
.divfeature{
    width: 100vw;
}
.featuresdivmain{
    background: linear-gradient(
        to bottom,
        #ffbb01 8%,
        white 40%,                                                                 
        white 67%,
        white 44%
    );
    height: 86em;

}
/* .divbenifits{
    width: 100vw;

} */
/* css for features start from here  */
.features{
    background: linear-gradient(
      to bottom,
      #ffbb01 10%,
      white 90%,                                                                 
      white 50%,
      white 100%
  );
  /* height: 602px; */
  margin-bottom: 200px; 
  display:block; height: 100%
  }
.featuresheader{
text-align: center;
padding:65px;
color: white;
text-align: center;
padding: 65px;
text-shadow: 5px 6px black;

}

/* .featuresdiv{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
} */
.featuresubdivfirst{
background-image: url(../images/320-2.jpg);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin: 10px;
color: black;
font-variant: all-petite-caps;
overflow: scroll;
width: 350px;
height: 360px;
position: relative;
background-color: white; 
border-radius: 20px;
perspective: 200px;
top: -44px;
/* border-bottom-left-radius: 160px;
border-bottom-right-radius: 160px; */
}
.featuresubdivmiddle{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin: 10px;
color: black;
font-variant: all-petite-caps;
overflow: scroll;
width: 350px;
height: 360px;
position: relative;
background-color: white; 
border-radius: 20px;
perspective: 200px;
/* border-bottom-left-radius: 160px;
border-bottom-right-radius: 160px; */
}
.featuresubdivlast{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin: 10px;
color: black;
font-variant: all-petite-caps;
overflow: scroll;
width: 350px;
height: 360px;
position: relative;
background-color: white; 
border-radius: 20px;
perspective: 200px;
top: 44px;
/* border-bottom-left-radius: 160px;
border-bottom-right-radius: 160px; */
}
.middlefeature:hover{
transform: translateY(-20px);
transition: all 1.2s;
}
.featuresubdivfirst:hover{
transform: translateY(20px);
transition: all 1.2s;
/* height: 420px; */
}
.featuresubdivlast:hover{
transform: translateY(-20px);
transition: all 1.2s;
/* height: 420px; */
}
.contenttext{
top: 31%;
/* position: relative; */
/* margin-top: -5px; */
margin-left: 4%;
margin-right: 4%;
/* margin: 24px; */
text-align: justify;
}
.contentheader{
padding-left: 3%;
}


.cardcontent{
position: absolute;
top: 25%;
margin-top: -18px;

}
.featuresubdivfirst::after{
background:linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.2)) ;
}
.featuresubdivmiddle::after{
background:linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.2)) ;
}
.featuresubdivlast::after{
background:linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.2)) ;
}
.featuresubdivfirst::-webkit-scrollbar{
display: none;
}
.featuresubdivmiddle::-webkit-scrollbar{
display: none;
}
.featuresubdivlast::-webkit-scrollbar{
display: none;
}
.featuresubdivfirst:hover{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1.99);
}
.featuresubdivmiddle:hover{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1.99);
}
.featuresubdivlast:hover{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1.99);
}
.feature1{
height:20px;
width : 20px
}
.feature2{
height:20px;
width : 20px
}
.feature3{
height:20px;
width : 20px
}

/* css for features end here  */


.reveal{
    position: relative;
    transform: translateY(290px);
    opacity: 0;
    transition: all 3s ease-in-out;
  }
  .reveal.active{
    transform: translateX(0px);
    opacity: 1;
  }
  
  .reveal1{
    position: relative;
    transform: translateY(290px);
    opacity: 0;
    transition: all 3s ease-in-out;
  }
  .reveal1.active{
    transform: translateX(0px);
    opacity: 1;

  }
  @media screen and (min-width: 601px) {
    .reveal1.active{
        transform: translateX(0px);
        opacity: 1;
        top: 10%;
      }
      .reveal.active{
        transform: translateX(0px);
        opacity: 1;
        top: 10%;
      }
    }
  /* @media screen and (max-width: 600px) {
    .animation1 {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
  }
  @media screen and (max-width: 601px) {
  .animation1{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    }
} */
